In [2]:
#List []
a_list = [1,2,3,4,5]

print(a_list)
print(a_list[3])

[1, 2, 3, 4, 5]
4

In [11]:
# 슬라이싱
print(a_list[:2])
print(a_list[2:])
print(a_list[:])
print(a_list[1:2:2])
# 2개씩증가
print(a_list[1::2])

[1, 2]
[3, 4, 5]
[1, 2, 3, 4, 5]
[2]
[2, 4]

In [12]:
b = a_list
b[0] = 10
print(b)
print(a_list)
# 주소 자체가 바껴서 a도 바뀜(깊은 복사 deep copy)

[10, 2, 3, 4, 5]

In [17]:
# 위의 해결방법은 슬라이싱 (얕은 복사), 주소가 아닌 값만 가져오기다
b = a_list[:]
b[0] = 100
print(b)
print(a_list)

[100, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [21]:
#추가
b_list= []
b_list.append(1)
b_list.append(2)
b_list.append(3)

print(b_list)

[1, 2, 3]

In [27]:
# 중간에 집어넣기
b_list.insert(2,100)
print(b_list)

[1, 2, 100, 100, 100, 100, 100, 3]

In [31]:
#tupple 배열 중에서 제일 빠르고 가벼움. 파이썬에선 디폴트로 쓰는 듯. 한번 만들면 읽기 전용(수정 불가), 내부적으로 사용 많이 됨.
a_tuple = (1,2,3,4,5)

print(a_tuple)

(1, 2, 3, 4, 5)

In [33]:
a_tuple[0] = 10
#읽기전용이라 수정 불가

TypeError: 'tuple' object does not support item assignment

In [35]:
# 값을 바꿔줄 때
#보통은
a = 10
b = 20
#일때
c = b
b = a
a = c
print(a,b)


#이지만 파이썬에서는 이렇게 가능. 좀 더 직관적
a, b = b, a
print(a, b)

20 10
10 20

In [38]:
# Dict   {key : value}   JSON에 필요, 정말 많이 사용함.
a_dic = {1:'a', 'b':[1,2,3], 'c':3}
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3}

In [45]:
print(a_dic[1])
print(a_dic['b'])
print(a_dic['c'])

a
4
3

In [46]:
# 추가하기
a_dic['d'] = 'Microsoft AI School'
print(a_dic)

{1: 'a', 'b': 4, 'c': 3, 'd': 'Microsoft AI School'}

## Set 합,교,차집합

In [48]:
a_set = {1,2,3}
print(a_set)
print(type(a_set))

{1, 2, 3}
<class 'set'>

In [49]:
b_set = {3,4,5}

In [55]:
# 합집합
a_set.union(b_set)

{1, 2, 3, 4, 5}

In [56]:
a_set | b_set

{1, 2, 3, 4, 5}

In [53]:
# 교집합
a_set.intersection(b_set)

{3}

In [57]:
a_set & b_set

{3}

In [54]:
# 차집합
a_set - b_set

{1, 2}

In [58]:
# 부록
a = set((1,2,3,4))
print(type(a)) #set로 변수를 감싸면 set으로 됨.

<class 'set'>

In [59]:
b = list(a)
print(type(b))

<class 'list'>

In [60]:
c = tuple(b)
print(type(c))

<class 'tuple'>